html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black; }

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  filter: blur(18px) brightness(85%); }
  #background-one, #background-two {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; }

.show {
  opacity: 1 !important; }

header,
main {
  max-width: 90rem;
  width: 100%;
  padding: 0 1rem;
  z-index: 10; }

@font-face {
  font-family: 'Karla', sans-serif;
  src: url(../fonts/Karla/Karla-Bold.ttf) format("ttf");
  font-weight: 600;
  font-style: bold; }

@font-face {
  font-family: 'Karla', sans-serif;
  src: url(../fonts/Karla/Karla-Regular.ttf) format("ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Karla', sans-serif;
  src: url(../fonts/Karla/Karla-Italic.ttf) format("ttf");
  font-weight: 400;
  font-style: italic; }

header {
  display: flex;
  align-items: center;
  font-family: 'Karla', sans-serif; }
  header .menu {
    list-style-type: none;
    display: flex; }
    header .menu-item {
      margin-left: 1rem; }
      header .menu-item a {
        color: #fff; }

#router-view {
  padding-top: 2rem;
  min-height: 40rem;
  overflow-y: scroll; }

.recent-tracks {
  display: flex;
  list-style-type: none; }
  .recent-tracks .single-item {
    margin-right: 2rem;
    transition: transform 0.2s;
    cursor: pointer; }
    .recent-tracks .single-item img {
      width: 18rem; }
    .recent-tracks .single-item h2,
    .recent-tracks .single-item h3,
    .recent-tracks .single-item p {
      color: #fff;
      text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      font-family: 'Karla', sans-serif;
      font-size: 1.1rem;
      font-weight: 300; }
    .recent-tracks .single-item h2 {
      font-weight: bold;
      font-size: 1.4rem; }
    .recent-tracks .single-item h3 {
      opacity: 0.9;
      font-size: 1.2rem; }
    .recent-tracks .single-item p {
      font-size: 0.9rem;
      font-style: italic; }
    .recent-tracks .single-item:hover {
      transform: translateY(-10px); }
