:root {
  --default-color: #fff33d;
  --second-color: #d32422;
  --black-color: #000;
  --white-color: #f6f6f6;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 600px;
  margin: 0 auto;
  background-color: var(--white-color);
}

main {
  width: 600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--black-color);
}

h2 {
  color: var(--black-color);
  font-size: 1.3rem;
  margin: 0;
}

h3 {
  color: var(--black-color);
  font-size: 1.1rem;
  margin: 0;
}

.track-single {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

.track-single img {
  height: 100%;
  margin-right: 10px;
}

.track-single:hover {
  transform: translateX(-20px);
}

.now-playing p {
  position: relative;
  overflow: visible;
  padding-left: 25px;
}
.now-playing p:after {
  content: '🎺';
  position: absolute;
  left: 2px;
  top: -5px;
  height: 10px;
  width: 10px;
  border-radius: 15px;
  animation: beat 0.3s infinite alternate;
}

@keyframes beat {
  to {
    transform: scale(1.2) rotate(20deg);
  }
}

button {
  border: 2px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 0;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s;
}

button:hover {
  background-color: var(--black-color);
  color: #fff;
}

button:active {
  transform: translateX(-20px);
}

button:focus {
  outline: 0;
}

.filters p {
  margin-bottom: 10px;
}

#previous-page {
  display: none;
}

#current-user {
  font-weight: bold;
}
