body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 600px;
  margin: 0 auto;
}

main {
  width: 600px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* li {
  border-bottom: 1px solid black;
} */

h2 {
  font-size: 1.3rem;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  margin: 0;
}

.track-single {
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
  transition: transform 0.2s;
  cursor: pointer;
}

.track-single img {
  height: 100%;
  margin-right: 10px;
}

.track-single:hover {
  transform: translateX(-20px);
}

button {
  border: 2px solid black;
  background-color: #fff;
  border-radius: 0;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s;
}

button:hover {
  background-color: #000;
  color: #fff;
}

button:active {
  transform: translateX(-20px);
}

button:focus {
  outline: 0;
}

#previous-page {
  display: none;
}
