header {
  display: flex;
  align-items: center;
  font-family: 'Karla', sans-serif;

  .user {
    color: #fff;
    font-weight: bold;
  }

  .menu {
    list-style-type: none;
    display: flex;
    &-item {
      margin-left: 1rem;
      a {
        color: #fff;
      }
    }
  }
}
